.statistics {
  min-height: 100vh;
}
.statistics .scroll {
  overflow-x: scroll;
}

.statistics .bar {
  transition: all 0.15s ease;
}

.statistics .bar:hover {
  cursor: pointer;
  fill: #ff43ec;
}

.statistics .select {
  width: 200px;
}
